.tarjetas-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 2rem;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


@media (max-width: 1200px) {
  .tarjetas-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .tarjetas-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .tarjetas-container {
    grid-template-columns: 1fr;
  }
}
