:root {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fb;
  color: #222;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}
